body{
    margin: 0%;
}
#logo{
    border-radius: 10px;
    margin: 10px;
}
.container{
	width: 330px;
	overflow: hidden;
	margin: 50px auto 0 auto;
	background-color: bisque;
	border-radius: 5%;
}
.container span{
	display: block;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.container .box{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	transition: all .25s ease-in-out;
	font-size: 85px;
	text-align: center;
	line-height: 100px; 
	cursor: pointer;
	background-image: url(../images/icons8-tea-cup-100.png);
}
.container .box:hover{
	background: rgb(226, 171, 248);
	color: rgb(108, 108, 108);
}
/* 3 * 3 grid */
#b0{ 
    border: 0;
}
#b1{ 
    border-top: 0;
}
#b2{ 
    border: 0;
}
#b3{ 
    border-left: 0;
}
#b5{ 
    border-right: 0;
}
#b6{ 
    border: 0;
}
#b7{ 
    border-bottom: 0;
    margin-bottom: 50px;
}
#b8{ 
    border: 0;
}
/* end of grid */
.win{
	background: #f081ab; 
	color: rgb(236, 157, 232);
	color: transparent;
	/* will make the text transparent and make the image display */
}
.btn{
	width: 200px;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	display: block;
	margin: 40px auto;
	/* -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75); */
	box-shadow: 0px 0px 13px 0px rgba(238, 106, 106, 0.75);
    background-color: #e4bbcb;
}
.btn:hover{
    background-color: hotpink;
}